.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.component-home .ant-row {
    margin-bottom: 10px;
}

.ant-card {
    background: #37474F;
}

.ant-card-head {
    background: #005a9a;
    border-bottom: 1px solid #212121;
    min-height: initial;
    height: inherit;
    padding: 0 16px;
}

.ant-card-head-title {
    color: #FFF;
    padding: 6px 0;
}

.ant-card-body {
    padding: 16px;
    color: #FFF;
    font-size: 16px;
}

.box-card-list {
    min-height: 400px;
}

.card-list .ant-card-body {
    padding: 0;
}

.card-list .ant-card-body .box-card-list {
    padding: 10px;
}

.button-box {
    background-color: #1e2c33;
    min-height: 32px;
}

.button-box .ant-btn-group .ant-btn {
    border-radius: 0;
    border: 1px solid transparent;
    font-size: 16px;
    color: #FFF;
    background-color: transparent;
}

.button-box .ant-btn-group .ant-btn:last-of-type {}

.button-box .ant-btn-group .ant-btn:hover,
.button-box .ant-btn-group .ant-btn:active {
    color: greenyellow;
}

.button-box .ant-btn-group .ant-btn:visited,
.button-box .ant-btn-group .ant-btn:focus {
    color: greenyellow;
}

.button-box .ant-btn-clicked::after {
    -webkit-animation: none;
    animation: none;
}