.player-box .player-slider .ant-slider {
    margin: 3px 0;
}

.player-box .volume .ant-slider-vertical {
    margin: 6px 30px;
    height: 83px;
}

.player-box .volume {
    text-align: center;
}

.player-box .volume i {
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 16px;
    cursor: pointer;
}

.player-box .volume i.mute {
    color: #717171;
}

.player-box .volume i.no-mute {
    color: #31aaff;
}

.player-box .player-slider .ant-slider-rail,
.player-box .player-slider .ant-slider-track,
.player-box .player-slider .ant-slider-step {
    border-radius: 0px;
    height: 10px;
}

.player-box .player-slider .ant-slider-track,
.player-box .volume .ant-slider-vertical .ant-slider-track {
    background-color: #31aaff;
}

.player-box .player-slider .ant-slider:hover .ant-slider-track,
.player-box .volume .ant-slider-vertical:hover .ant-slider-track {
    background-color: #31aaff;
}

.player-box .player-slider .ant-slider-handle,
.player-box .volume .ant-slider-vertical .ant-slider-handle {
    margin-left: -7px;
    margin-top: -4px;
    width: 19px;
    height: 18px;
    border: solid 2px #37474f;
}

.player-box .player-slider .ant-slider:hover .ant-slider-handle,
.player-box .volume .ant-slider-vertical:hover .ant-slider-handle {
    border: solid 2px #37474f;
}

.player-box p.title-play,
.player-box p.desc-play {
    margin-bottom: 0;
    margin-left: 15px;
}

.player-box p.desc-play {
    font-size: 14px;
    color: #dadada;
}

ul.control-player {
    margin: 0;
    padding: 7px 0 7px 0;
}

ul.control-player li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

ul.control-player li:hover {
    color: greenyellow;
    cursor: pointer;
}

.volume {
    text-align: center;
    height: 107px;
}

.disc-box {
    background-color: #1e2c33;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: block;
    position: relative;
    -webkit-box-shadow: 1px 9px 29px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 9px 29px -6px rgba(0, 0, 0, 1);
    box-shadow: 1px 9px 29px -6px rgba(0, 0, 0, 1);
    color: #FFF;
}

.disc-box i {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 36px;
}

.disc-box i:hover {
    color: greenyellow;
    cursor: pointer;
}

.disc-box i.play {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}