.navigator {
    color: #FFFFFF;
}

.navigator:after {
    content: ' ';
    clear: both;
    display: block;
    margin-bottom: 10px;
}

.navigator ul.menu {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.navigator ul.menu li {
    display: inline-block;
    padding: 0 10px;
}

.navigator ul.menu li a {
    color: #FFFFFF;
}

.navigator ul.menu li a:hover {
    color: greenyellow;
}

.navigator ul.menu li span.txt-dissound {
    vertical-align: middle;
    margin-left: 10px;
}

.navigator ul.menu.lt-nav li:first-of-type {
    padding-left: 0;
}

.navigator ul.menu li:last-of-type {
    padding-right: 0;
}

.navigator ul.menu li i {
    padding-right: 5px;
}

.navigator .rt-nav {
    float: right;
}

.navigator .lt-nav {
    float: left;
}

.navigator ul.menu .ant-switch {
    background-color: #37474f;
}

.ant-switch-checked {
    background-color: #1890ff !important;
}