body {
    margin: 0;
    padding: 12px;
    font-family: 'Segoe UI', 'Tahoma';
    font-size: 16px;
}

#root {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}

.no-mb {
    margin-bottom: 0 !important;
}